<%#= error_messages_for 'expense' %>

<!--[form:expense]-->
<p><label for="expense_name">Name</label><br/>
<%= text_field 'expense', 'name'  %></p>

<p><label for="expense_budget">Budget</label><br/>
<%= text_field 'expense', 'budget'  %></p>
<!--[eoform:expense]-->
